<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">We are the right people</a></h1>
        </div>

        <div>
            <p>published: 02.12.2018</p>
            <h2>May you rest in peace CHOKA</h2>
            <p>May my condolences bring you comfort and may my prayers ease the pain of this loss. We pray the love for the lost is forever carried in your memory. Words can't express how saddened we are to hear of your loss.</p>
        </div>
    </body>
</html>